.App {
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.head{
  padding: 10px;
  display: flex;
  width: 45%;
}
.body{
  padding: 10px;

}
.bodyFirst{
  padding: 10px;

}
.bodySecond{
  padding: 10px;

}
.header{
  
  background-color: red;
  width: 100%;
  
}